@use '@/utils/variables' as variables;

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .formWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    .counterWrapper {
      flex: 1;
      //height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 0 24px;

      p {
        font-size: 56px;
      }

      button {
        background-color: transparent;
        border: none;

        &:enabled:active {
          transform: scale(0.950);
        }
      }

      .icon {
        color: variables.$main-color;

        &.disabled {
          color: variables.$color-disabled-lighter;
        }
      }
    }
  }
}