@use '@/utils/variables' as variables;

.wrapper {
  width: 100%;
  height: 56px;
  background-color: #6F8B90;

  position: fixed;
  z-index: variables.$z-index-header;
  display: flex;
  align-items: center;

  padding: 0 24px;
}