@use '@/utils/variables' as variables;

.headerWrapper {
  width: 100%;
  height: variables.$header-height;
  background-color: white;
  color: variables.$color-theme-one;

  position: fixed;
  top: 0;
  z-index: variables.$z-index-header;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;

  box-shadow: 0 2px 4px hsla(218, 6%, 73%, .48);

  .logoWrapper {
    height: 100%;
    font-size: 17px;
    font-weight: bold;

    display: flex;
    align-items: center;

    text-align: center;

    .iconWrapper {
      width: 40px;
      height: 100%;
      position: relative;

      svg {
        position: absolute;
        top: 12px;
        left: 0;
      }
    }
  }

  .iconButton {
    color: variables.$color-theme-third;
  }

  .burger {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: variables.$color-theme-one;

    &:active {
      transform: scale(0.950);
    }
  }
}

.modalPage.modalPage {
  height: calc(100% - 56px);
  width: 80vw;
}

.backdrop {
  top: 56px!important;
  //margin-top: variables.$header-height;
}

.modalWrapper {
  height: 100%;
  background-color: whitesmoke;
  top: variables.$header-height;
}