@use '@/utils/variables' as variables;

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .filled {
    color: variables.$color-theme-one;
  }
}

.modalWrapper {
  width: 100%;
  height: 100%;

  background-color: white;
}

.timePickerWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: flex-start;
}
