@use '@/utils/variables' as variables;

.container {
  padding: 0 24px;
  width: 100%;
  height: 100dvh;
  z-index: variables.$z-index-fixed;
  position: fixed;
  background-color: whitesmoke;
}

.modalWrapper {
  width: 100%;
  height: 100%;

  background-color: white;
}

//@fixme drop this class or do! now styles on container
//.customLayout {
//  z-index: 45;
//  background-color: whitesmoke;
//}