@use '@/utils/variables' as v;

.calendarWrapper {
  --rdp-accent-color: #{v.$main-color} !important;

  padding-top: 15px;
  div {
    margin: auto;
  };

  .today:not(.outside) {
    font-weight: bold;
    color: v.$main-color;
  }

  .disabledDates {
    color: v.$color-disabled;
  }

  .weekday {
    color: v.$color-theme-one;
  }

  .selected {
    color: v.$color-theme-one!important;
  }

  .month {
    color: v.$main-color;
    div {
      height: 64px!important;
    }
    span {
      color: v.$color-theme-one;
      //margin: 0 0 12px 10px ;
      margin-left: 12px;
      margin-bottom: 20px;
    }
  }
};