@use '@/utils/variables' as variables;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: variables.$header-height; // отступ на высоту header;

  position: relative;
}