@use '@/utils/variables.scss';

.nav-layout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;

  padding: 10px 10px; //@fixme надо подумать

  display: flex;
  justify-content: space-between;

  background-color: #eff1f5; //@fixme надо подумать на счет цветов

  z-index: variables.$z-index-fixed; //@fixme задать константое значение
}

.tabWrapper {
  min-width: 77.5px;
  color: #222429;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.active {
      svg {
        color: #1976d2;
      }
    }
  }

  span {
    display: block;
    font-size: 10px;
    font-weight: 600;
  }
}

.iconTab {
  width: 30px;
}
