@use '@/utils/variables';

.modal {
  padding: 0;
  border: none;

  z-index: variables.$z-index-modal-page;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slide-in-enter {
  transform: translateY(100%);
}

.slide-in-enter-active {
  transform: translateY(0);
  transition: all 300ms ease-out;
}

.slide-out {
  transform: translateY(0);
}

.slide-out-active {
  transform: translateY(100%);
  transition: all 300ms ease-in;
}

.side-out-active-fast {
  transform: translateY(100%);
  transition: all 300ms ease-out;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: variables.$z-index-modal-page-backdrop;
  background-color: rgba(#222429, 0.6);
}
